@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #264783;
  --background-hsl: 219 55% 33%;
  --gradient-dark: #111429;
  --gradient-light: #1f3358;
}

html,
body {
  min-height: 100vh;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  -webkit-tap-highlight-color: transparent;
}

#root {
  min-height: 100vh;
  display: flex;
}

.no-highlight {
  -webkit-tap-highlight-color: transparent;
}
